.chart__section-filter-component {
}

.chart__section-filters {
  height: 32px;
  min-width: 300px;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.chart__section-filters::-webkit-scrollbar {
  display: none;
}

.chart__section-filters > span {
  min-width: 50px;
  color: #a7b1bc;
  word-break: normal;
}

.chart__section-filters > button {
  height: 28px;
  min-width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 16px;
  color: #a7b1bc;
}

.chart__section-action-btns {
  height: 64px;
  background-color: #262b31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
