.buy__modal {
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buy__modal .overlay {
  height: 30%;
  width: 100%;
}

.buy__modal-content {
  height: 70%;
  background-color: #1c2127;
  width: 100%;
  border: 1px solid #262932;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 15px 0;
  overflow-x: scroll;
}

.buy__modal-content-top {
  height: 32px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #1b1f24;
}

.buy__modal-content-top > button {
  width: 48%;
  border-radius: 8px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
  line-height: 16px;
}

.buy__modal-content-top > button.active {
  border: 1px solid #25c26e;
}
.buy__modal-content-top > button.sell_active {
  border: 1px solid #ff554a;
}

.buy__modal-content-middle {
  height: 28px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.buy__modal-content-middle button {
  padding: 6px 12px;
  border-radius: 100px;
  text-transform: capitalize;
}

.buy__modal-content-middle button.active {
  background-color: #353945;
}

.form__control {
  height: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #373b3f;
  padding: 13px 16px;
  border-radius: 8px;
}

.form__control.checkbox {
  border: none;
}

.form__control.checkbox p input {
  width: initial;
}

.form__control p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: #a7b1bc;
  font-size: 12px;
  font-weight: 500;
}

.form__control input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 70px;
  color: #a7b1bc;
  text-align: end;
}

.form__control select {
  background-color: transparent;
  border: none;
  outline: none;
  width: fit-content;
  color: #a7b1bc;
  text-align: end;
}

.modal__btn {
  width: 90%;
  text-align: center;
  height: 40px;
}

.modal__btn button {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(to right, #483beb, #7847e1, #dd568d);
}

.modal__extras {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
}

.modal__extras-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__extras-left p,
.modal__extras-right span {
  font-size: 12px;
  color: #a7b1bc;
}

.modal__extras-left span {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.modal__extras-right {
  display: flex;
  gap: 5px;
  display: flex;
  align-items: center;
}

.modal__extras-right p,
.modal__extras-right span {
  font-size: 12px;
  color: #a7b1bc;
}

.deposit_btn {
  height: 40px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.deposit_btn button {
  background-color: #2764ff;
  height: 100%;
  width: 80px;
  color: white;
  border-radius: 8px;
  padding: 10px 0;
}
